language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"

env:
  - DJANGO_VERSION=1.7
  - DJANGO_VERSION=1.8
  - DJANGO_VERSION=1.9
  - DJANGO_VERSION=1.10

matrix:
  allow_failures:
    - env: DJANGO_VERSION=dev
    - python: "3.3"
    - python: "3.4"

install:
    - pip install tox

script:
    - tox -e py${TRAVIS_PYTHON_VERSION/./}-${DJANGO_VERSION}
