{% comment %}
	This template is for displaying the badges a user has earned next to their name. It 
	expects that you will pass it a list of badge objects called badges.

	Here is an easy way to do that:

	{% with badges as post.user.badges %}
		{% include "badges/badges_display.html %}
	{% endwith %}

{% endcomment %}



{% load badges_tags %}
<span class="badge">
{% for level in "gsb"|make_list %}
	{% if badges|level_count:level %}
		<span class="level_{{ level }} metal">●</span>{{ badges|level_count:level }}
	{% endif %}
{% endfor %}
</span>
