{% extends "site_base.html" %}
{% load badges_tags %}
{% load humanize %}

{% block body %}
<div id="badges_tank">
	<h1>{% block head_title %}Badges{% endblock %}</h1>
	<p class="info_blurb"><strong>Post</strong> images, predictions, and tutorials, <strong>respond</strong> to posts, and <strong>vote</strong> for helpful, informative or clever responses — Otaku Pride will reward you with badges along the way! Here is a list of the badges, and how many people have earned each one.</p>
	<p class="info_blurb">Badges are fun! They're just little reminders that <strong>you are awesome</strong> <span class="faces">☺</span></p>
	<table class="badges">
		{% for badge in badges %}
		<tr class="{% cycle 'highlighted' '' %}">
			<td class="checkmarks">
				{% if badge|is_in:request.user.badges.all %}<span title="You have earned this badge">✔</span>{% endif %}&nbsp;
			</td>
			<td class="badge">
				{% include "badges/badge.html" %}
				× {{ badge.user.count|intcomma }}
			</td>
			<td class="badge_description">{{ badge.description }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block rightColumn %}
	<h3>The Badge System</h3>
		<p>A way for us to say thank you. A way to let others know you care. A way to show your contributions to the community. 
		<br/><br/>
		A way to shake your money maker.
		</p><br/>
		<p>Bronze Badges are given for completing basic tasks.</p><br/>
		<p>Silver Badges are given for being an active part of the community.</p><br/>
		<p>Gold Badges are given for going above the role of active participation. Given for being on the ball, into the latest and greatest, and popular.</p>
		
{% endblock %}